# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.dev

mock*
notebook*
# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
*.log
logs/
*.pt
*.pth
*.bin
*.safetensors
*.h5
*.hdf5
*.ckpt
*.pkl
*.npy
*.npz

# CUDA
*.cu.o
*.ptx
*.cubin

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/ 


# Fuchsia
wandb/
lora_weights/ 

dev*
unsloth*
output*
examples/function/outputs*
